include _mixins
doctype
html
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible",content="IE=edge")
		meta(name="viewport",content="width=device-width, initial-scale=1")
		meta(name="description",content=title+' '+meta.keywords)
		link(rel="stylesheet", href="/main.css")
		script(src="jquery.js")
		script(src="script.js")
		script(src="js/jquery.event.move.js")
		script(src="js/jquery.event.swipe.js")
		title=title
	body
		#fb-root
		#Main
			#Wrapper
				!= yield
			#Footer
				.copyright!=copyright
				.mutnt.tooltip-trigger
					a.mutnt-logo-square(href="http://mutnt.net",target="_blank")
					.mutnt-tdext.tooltip
						.mutnt-logo
						.mutnt-text website developped by mutnt
			+menu(url,title,social,card)
