doctype
html
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible",content="IE=edge")
		meta(name="viewport",content="width=device-width, initial-scale=1")
		meta(name="description",content=title+' '+meta.keywords)
		link(rel="stylesheet", href="/main.css")
		script(src="jquery.js")
		script(src="script.js")
		title=title
	body
		#Wrapper
			!= yield
		#Footer
			p!=copyright
