include _mixins

each card,i in cards
	- var uid = card.slug ? card.slug : 'card-'+i;
	+card(card,uid)

.nav
	.nav-section.logo
		a(href=url)
			span=title
	.nav-section.social
		.nav-inner
			each icon in social
				+social-link(icon)
	.nav-section.links
		.nav-inner
			each card,i in cards
				- var uid = card.slug ? card.slug : 'card-'+i;
				if card.pin
					a(href="#"+uid)=card.title
