fast = true
@import "_nib"

@import "_css/variables"

body
	font-size 100%
	font-size baseFontSize
	font-size 1em
	font-family bodyTextFont

h1,h2,h3,h4,h5
	font-weight 300
	font-family titlesTextFont
	text-transform uppercase
	//text-transform lowercase

html,body
	padding 0
	margin 0

body
	background-color #ddd

.anchor
	display block
	position absolute
	top - menuHeight
	left 0

.visuallyhidden
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;

.nav
	position absolute
	position fixed
	top 0
	margin 0 auto
	width inherit
	height menuHeight
	background white
	a
		color #000
		box-sizing border-box
		display block
		text-align center
		text-decoration none
		height menuHeight
		&:hover
			color white
			background #555
	.nav-section
		height menuHeight
		display block
		a
			float left
			min-width  menuHeight
			padding 1em
	.logo
		float left
		a
			width 298px
			background-image url('/photos/logo.jpg')
			background-position 50% 50%
			background-repeat no-repeat
			span
				@extend .visuallyhidden
	.links,.social
		float right

#Wrapper
	margin 0 auto
	margin-top menuHeight
	width cardWidth
	position relative

.card
	position relative
	height cardHeight
	overflow hidden
	if cardRadius
		border-radius cardRadius
	background-color #ccc
	box-sizing border-box
	margin cardMargin
	float left
.card-1
	width cardWidth
.card-2
	width (cardWidth * 2)
.card-3
	width (cardWidth * 3)

//@import "_css/spinner"
@import "_css/images"
@import "_css/slider"
@import "_css/text"
@import "_css/dots"

body
	font-size 1.5em
.card, .card-1, .card-2,.card-3
	width cardWidth
.text-cell
	padding 3em
.slider-header  h1
	top 0em
	left 1.5em
.anchor
	top - (menuHeight * 2)
#Wrapper
	margin-top (menuHeight * 2)
.nav
	height (menuHeight * 2)
	.logo, .logo a
		width 100%
	.links
		top menuHeight
		width 100%
	.social
		display none
.slider-control
	opacity 1
	&:focus,&:active,&:hover
		background transparent
.dots
	font-size .7em
#Footer
	display none

/**

// Smartphones (portrait and landscape)
@media only screen and (min-device-width : 320px) and (max-device-width : 480px)

// Smartphones (landscape)
@media only screen and (min-width : 321px)

// Smartphones (portrait)
@media only screen and (max-width : 320px)

// iPads (portrait and landscape)
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px)

// iPads (landscape)
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape)

// iPads (portrait)
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait)

// Desktops and laptops
@media only screen and (min-width : 1224px)

// Large screens
@media only screen and (min-width : 1824px)

// iPhone 4
@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5)
**/