@import "_nib"
@import "_css/variables"

body
	font-size 100%
	font-size baseFontSize
	font-size 1em
	font-family bodyTextFont

h1,h2,h3,h4,h5
	font-weight 300
	font-family titlesTextFont
	text-transform titlesTextTransform

html,body
	padding 0
	margin 0

body
	background-color bodyBG
	font-size 1.5em

.anchor
	display block
	position absolute
	left 0
	top - (menuHeight * 2)

#Wrapper
	margin 0 auto
	width cardWidth
	position relative
	margin-top (menuHeight * 2)
	clearfix()

#Footer
	position relative
	display block
	float left
	width cardWidth
	margin 0 auto
	background footerColorFG
	color footerColorBG
	height footerHeight

.google-maps
	position: relative
	height 0
	width 100%
	height 100%
	overflow hidden

.google-maps iframe
	position absolute
	top 0
	left 0
	bottom 0
	right 0
	width 100% !important
	height 100% !important

@import "_css/utils"
@import "_css/fontawesome"
@import "_css/images"
@import "_css/slider"
@import "_css/text"
@import "_css/dots"
@import "_css/navigation"
@import "_css/card"
@import "_css/themes"
@import "_css/mutnt"
@import "_css/responsive"


/**

// Smartphones (portrait and landscape)
@media only screen and (min-device-width : 320px) and (max-device-width : 480px)

// Smartphones (landscape)
@media only screen and (min-width : 321px)

// Smartphones (portrait)
@media only screen and (max-width : 320px)

// iPads (portrait and landscape)
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px)

// iPads (landscape)
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape)

// iPads (portrait)
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait)

// Desktops and laptops
@media only screen and (min-width : 1224px)

// Large screens
@media only screen and (min-width : 1824px)

// iPhone 4
@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5)
**/