.card
	position relative
	height cardHeight
	overflow hidden
	if cardRadius
		border-radius cardRadius
	background-color #ccc
	box-sizing border-box
	margin cardMargin
	float left
.card, .card-1, .card-2,.card-3, .card-4
	width cardWidth