.nav
	position absolute
	position fixed
	top 0
	margin 0 auto
	height (menuHeight * 2)
	background menuBG
	overflow hidden
	a
		color menuLinkFG
		background-color menuLinkBG
		box-sizing border-box
		display block
		text-align center
		text-decoration none
		background-position 50% 50%
		background-repeat no-repeat
		height 100%
		&:visited
			color menuLinkFG
		&:hover
			color menuLinkHoverFG
			background-color menuLinkHoverBG
	.logo
		float left
		width 100%
		height menuHeight
		a
			display block
			width inherit
			height inherit
			background-image url('/photos/logo.jpg')
			span
				@extend .visuallyhidden
	.links,.social
		float right
	.links
		top menuHeight
		width 100%
	.social
		display none

.nav-section
	height menuHeight
	display table
	width 100%
	height menuHeight
.nav-inner
	display table-row
	width 100%
	a
		min-width menuHeight
		display table-cell
		vertical-align middle
		line-height menuHeight