progressWidth = 5em
progressHeight = 5em
progressPartWidth = 2.5em
progressPartHeight = 2.5em
progressBaseSize = 12px
progressPartBorderRadius = (progressPartWidth/2)
progressParts = 4
progressColor1 = #ccc
progressColor2 = #ff0000
progressOpacity = .65


@keyframes spin
	to
		transform: rotate(1turn)

.progress-container
	position relative
	top 50%
	left 50%

.progress
	position absolute
	display: inline-block;
	width: progressWidth;
	height: progressHeight;
	font-size: progressBaseSize;
	animation: spin 1s infinite steps(progressParts);
	left - (progressWidth/2)
	top - (progressHeight/2)
	&.small
		font-size: 6px;
	&.large
		font-size: 24px;

.progress:before, .progress:after, .progress > .progress-inner:before, .progress > .progress-inner:after
	content: ''
	position: absolute;
	top: 0;
	left: ((progressWidth - progressPartHeight)/2);
	width: progressPartHeight;
	height: progressPartWidth;
	border-radius: .2em;
	background: progressColor2;
	box-shadow: 0 (progressHeight - progressPartWidth) lighten(progressColor2,50);
	transform-origin: 50% (progressHeight /2);
	border-radius progressPartBorderRadius
	opacity progressOpacity

.progress
	&:before
		background progressColor1
	&:after
		if progressParts < 8
			transform rotate(90deg)
		else
			transform rotate(-45deg)
		background darken(progressColor1,30)
	> .progress-inner
		&:before
			transform rotate(-90deg)
			background #999
		&:after
			transform rotate(-135deg)
			background #bbb

if progressParts < 8
	.progress-inner
		display none