.slider-header h1
		position absolute
		top (textMargins/3)
		left textMargins
	
.text-cell
	position absolute
	width 100%
	height 100%
	top 0
	left 0
	display table
	box-sizing border-box
	padding (textMargins * 2)
	p
		display table-cell
		vertical-align middle
		text-align left