cardTextMargins = 3em

.slider-header h1
		position absolute
		top (cardTextMargins/3)
		left cardTextMargins
	
.text-cell
	position absolute
	width 100%
	height 100%
	top 0
	left 0
	display table
	box-sizing border-box
	padding (cardTextMargins * 2)
	p
		display table-cell
		vertical-align middle
		text-align left