baseFontSize = 16
cardWidth = 320
cardHeight = 320
cardMargin = 0
bodyTextFont = 'PT Sans', sans-serif
titlesTextFont = 'Roboto Condensed', sans-serif
cardRadius = 0
menuHeight = 50
animationSpeedSlow = 1s
animationSpeedMid = .5s
animationSpeedFast = .3s

dotBorderSize = .1em
dotSize = 1em
dotColor = #fdfdfd

sliderControlHeight = 3em

cardWidth = (cardWidth / 16)em
cardHeight = (cardHeight / 16)em
if cardMargin
	cardMargin = (cardMargin / 16)em
if cardRadius
	cardRadius = (cardRadius / 16)em
menuHeight = (menuHeight / 16)em

if !fast
	@import url('http://fonts.googleapis.com/css?family=Alegreya+Sans+SC|Josefin+Sans:400,600|PT+Sans|Roboto+Condensed:300')