.mutnt
	position absolute
	top (footerHeight/4)
	right (footerHeight/4)
	.mutnt-logo-square
		display block
		width (footerHeight /2)
		height (footerHeight/2)
		background url('images/mutnt-logo-square.png') 50% 50% no-repeat
		background-size cover
		float right
	.mutnt-logo
		display block
		width 100%
		height 50px
		background url('images/mutnt-logo.png') 50% 50% no-repeat
		background-size contain
.mutnt-text
	color #000