//////////////// BASE /////////////////////
body
	background-color bodyBG

h1,h2,h3,h4,h5
	font-weight 300
	font-family titlesTextFont
	text-transform titlesTextTransform

.text-cell
	color bodyBG
	background white
	h1
		font-size 2em
	h2
		font-size 1.8em
	h3
		font-size 1.5em
	a
		color white
		text-decoration underline
		&:link, &:visited
			color white
		&:hover,&:active
			color red
#Footer
	color footerColorBG
	background footerColorFG

.nav
	background menuBG
	a
		color menuLinkFG
		background-color menuLinkBG
		&:visited
			color menuLinkFG
		&:hover
			color menuLinkHoverFG
			background-color menuLinkHoverBG
.logo
	a
		background-image url('/photos/logo.jpg')
		background-size contain
.image
	background imageBackground

.image-loading-inner
	font-size 3em
	color imageLoadingSpinnerColor
.slider-control
	color sliderControlFG
.image-caption
	background-color imageCaptionBG
	color imageCaptionFG

.dot
	margin 0 .25em
	&:before
		background-color transparent
	&:after
		border dotBorderSize dotBorderColor solid
	&.active
		&:before
			background-color dotColor
	&:focus
		&:before
			background-color rgba(255,255,255,.5)

.dot,.dot:before,.dot:after
	width dotSize
	height dotSize
	box-sizing border-box
	border-radius (dotSize/2)

.dots
	font-size .7em

.card
	background-color #ccc

.slider-header, .slider-title
	h1
		color white

.close
	color white
	background green
	font-size 1em
	padding .4em
	border-radius 1.2em

.slider-control
	box-sizing border-box
	height sliderControlHeight
	width sliderControlHeight
	//border-radius (sliderControlHeight/2)
	i
		@extend .fa-{sliderArrowsClass}-left
		font-size sliderControlHeight
	&.slider-control-right
		i
			@extend .fa-{sliderArrowsClass}-right
	&:focus,&:active,&:hover
		background transparent

.position-first-page
	.slider-control-left
		display none

.position-last-page
	.slider-control-right
		display none

//////////////// THEME A /////////////////////
.theme-a
	//texts
	.text-cell
		color white
		background #ccc
		h1,h2,h3,h4,h5
			color white
	//header on top of a card
	.slider-header
		//top 0em
		//left 3em
		h1
			font-size 1.8em
	//clap in front of a card
	.slider-title h1
		font-size 1.8em

//////////////// THEME B /////////////////////
.theme-b
	@extend .theme-a