// set this to false to load the actual fonts
fast = true

// main sizes

cardWidth = 320
cardHeight = 320
cardMargin = 0
cardRadius = 0
menuHeight = 50
footerHeight = 50
dotBorderSize = .1em
dotSize = 1em
sliderControlHeight = 3em
textMargins = 3em

// fonts

baseFontSize = 16
bodyTextFont = 'PT Sans', sans-serif
titlesTextFont = 'Roboto Condensed', sans-serif
titlesTextTransform = uppercase

// fontawesome classes

sliderArrowsClass = angle
loadingSpinnerClass = spinner

// colors

headerMobileBG = black
imageBackground = #ccc
footerColorFG = white
footerColorBG = black
bodyBG = #ddd
menuBG = #fff
menuLinkFG = #000
menuLinkBG = transparent
menuLinkHoverFG = #fff
menuLinkHoverBG = #555
dotColor = #fdfdfd
dotBorderColor = #fdfdfd
imageLoadingSpinnerColor = #fdfdfd
imageCaptionBG = rgba(0,0,0,.5)
imageCaptionFG = #fff
clapFG = #fdfdfd
clapBG = rgba(0,0,0,.3)
sliderControlFG = #fdfdfd
sliderControlFocusBG = rgba(0,0,0,.2)

// animations

animationSpeedSlow = 1s
animationSpeedMid = .5s
animationSpeedFast = .3s

//mutnt tooltip

toolTipWidth = 6em
toolTipHeight = 6em
toolTipPointerSize = 1em
toolTipColor = #f5f5f0
toolTipPadding = 1em
toolTipBorderRadius = 1em

// Do not touch below that line

cardWidth = (cardWidth / 16)em
cardHeight = (cardHeight / 16)em
if cardMargin
	cardMargin = (cardMargin / 16)em
if cardRadius
	cardRadius = (cardRadius / 16)em
menuHeight = (menuHeight / 16)em
footerHeight = (footerHeight / 16)em

if !fast
	@import url('http://fonts.googleapis.com/css?family=Alegreya+Sans+SC|Josefin+Sans:400,600|PT+Sans|Roboto+Condensed:300')