body
	font-size 1.125em


.slider
	&:hover
		.slider-control
			opacity 1
.slider-control
	opacity 0
	&:focus,&:active,&:hover
		outline none
		background sliderControlFocusBG
.pad-0
	display block
.laptop-1
	width cardWidth
.laptop-2
	width (cardWidth * 2)
.laptop-3
	width (cardWidth * 3)
#Wrapper, #Footer, .laptop-4
	width (cardWidth * 4)
.laptop-l
	float left
.laptop-r
	float right

.nav
	.links
		width auto
		display block
		float right

.nav-inner
	display block
	width auto
	float right
	a
		display block
		padding 1em
		float left
		box-sizing border-box
		line-height 1