.card
	position relative
	height cardHeight
	overflow hidden
	if cardRadius
		border-radius cardRadius
	background-color #ccc
	box-sizing border-box
	margin cardMargin
	float left
.phone-1
	width 50%
.phone-2
	width 50%
.phone-3
	width 100%
.phone-4
	width 100%
.phone-0, .pad-0, .laptop-0, .desktop-0
	display none
.phone-l
	float left
.phone-r
	float right

#Main
	max-width cardWidth