body
	font-size 0.8em

.dots
	font-size 1em
.slider-control
	display block
.card
	position relative
	height cardHeight
	overflow hidden
	if cardRadius
		border-radius cardRadius
	background-color #ccc
	box-sizing border-box
	margin cardMargin
	float left

.phone-0
	display block
.pad-1
	width 33.33%
.pad-2
	width 66.66%
.pad-3
	width 100%
.pad-4
	width 100%
#Main
	max-width (cardWidth * 3)
.pad-l
	float left
.pad-r
	float right