body
	font-size 1.125em


.slider
	&:hover
		.slider-control
			opacity 1
.slider-control
	opacity 1
	&:focus,&:active,&:hover
		outline none
		background sliderControlFocusBG
.pad-0
	display block
.laptop-1
	width 25%
.laptop-2
	width 50%
.laptop-3
	width 75%
.laptop-4
	width 100%
.laptop-l
	float left
.laptop-r
	float right
#Main
	max-width (cardWidth * 4)

.nav
	.links
		width auto
		display block
		float right
.image-caption
	opacity 0
	
.image:hover .image-caption, .slider:hover .image-caption
	opacity 1

.nav-inner
	display block
	width auto
	float right
	a
		display block
		padding 1em
		float left
		box-sizing border-box
		line-height 1