body
	font-size 1.06666em

.nav
	height menuHeight
	.logo
		width 298px
		display block
	.links
		top 0
		right 0
		width auto
		min-width 50%
.nav-inner
	width 100%
.anchor
	top - menuHeight

.nav
	.social
		display block
		width auto

#Wrapper
	margin-top menuHeight